body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
form {
    margin-top: 20px;
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-icons {
    text-align: center;
    margin-top: 20px;
}
.contact-icons a {
    text-decoration: none;
    margin: 10px;
}
.contact-icons i {
    font-size: 24px;
}


@media (max-width: 600px) {
    .contact-icons i {
        font-size: 20px;
    }
}


.navbar {
    background-color: #3498db;
    color: #fff;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar-brand img {
    margin-right: 10px;
    height: 80px;
  }
  
  .navbar-nav .nav-link {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: orange;
  }


  a:hover{
    color: rgb(12, 211, 135);
  }
