
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #3498db;
    color: #fff;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand img {
    margin-right: 10px;
    height: 80px;
}

.navbar-nav .nav-link {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: orange;
}


.images {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.images h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.images ul {
    list-style: none;
}

.images ul li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content ul {
    list-style: none;
}

.content ul li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .images,
    .content {
        padding: 10px;
    }
}
